body{
    background-image: url("scg.jpg");
    color :antiquewhite;
}
 th, td{
    
   border-style: dotted;
   border-width: 2px ;
}
h2{
    border-style: dashed;
    border-color: white;
}
h3{
    border-style: dashed;
    border-color: white;
}
h4{
    border-style: dashed;
    border-color: whitesmoke;
}

